[Desktop Entry]
Type=Application
Name=SmartPi Imager (CLI)
Comment=SmartPi Imager command-line interface
Exec=rpi-imager-cli
Icon=rpi-imager
Categories=System;
Terminal=true
NoDisplay=true
